doctype html
html
    head
        title Responsive Mobile!
        link(rel='stylesheet', href='/bower/rm-skin/dist/css/skin.css')
        script(src='/bower/rm-skin/dist/js/opt.skin.js')
    body
        div#stage
