doctype html
html
    head
        title Responsive Mobile!
        link(rel='stylesheet', href='/bower/rm-skin/skin/css/skin.css')
        script(src='/bower/rm-skin/skin/js/opt.skin.js')
    body
        div#stage
